.AddToPlaylist {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 15px 0 0;

  &_Loader {
    position: relative;
    text-align: center;
    width: 100%;
    padding: 10px 0;
  }

  &_List {
    display: flex;
    flex-direction: column;
    padding: 6px 0;
  }

  &_ListItem {
    padding: 6px 10px;
  }

  // Bootstrap popover styling
  &_Popover {
    &.left {
      .arrow {
        position: absolute;
        width: 0;
        height: 0;
        top: 50%;
        right: -11px;
        margin-top: -11px;
        border: 11px solid transparent;
        border-right-width: 0;
        border-left-color: #E2E2EA;
      }
    }

    .popover-title {
      margin: 0;
      padding: 8px 14px;
      font-size: 16px;
      color: #A3ADBA;
      text-align: center;
      border-bottom: 1px solid #E2E2EA;
      border-radius: 6px 6px 0 0;
    }

    &.popover {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10000000002;
      display: none;
      width: 250px;
      padding: 1px;
      border: 1px solid #E2E2EA;
      background-color: #fff;
      border-radius: 6px;
      box-shadow: 0 2px 4px 0 rgba(153,153,153,0.5);

      &.top {
        margin-top: -10px;
      }
    }
  }
}
